@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    margin: 3px;
}
i{
   cursor: pointer; 
}

a{
   text-decoration: none;
   color: white; 
}

.navbar {
    /* background-color:#0a9396; */
    background-color: #005f73;
    color: white;
    padding: 25px 60px;
}

#collapsibleNavbar {
    background-color: #005f73;
    color: white;
}

.cakeList{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    /* justify-content:; */
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    gap:10px;
}  

.cart-basket{
    margin-top: 150px;
}

.my-cart{
    text-align: center;
    float: right;
}

@media (max-width:1548px){
    .cakeList{
        grid-template-columns: repeat(2, 250px);
    }
}
@media (max-width:1031px){
    .cakeList{
        grid-template-columns: repeat(1, 250px);
    }
}
.cart {
    background-color: white;
    position: relative;
    color: #005f73;
    font-size: 30px;
    padding: 3px;
    border-radius: 3px;
}

.cartQuantity {
    position: absolute;
    left: 12px;
    bottom: 38px; 
    font-size: 16px;
    background-color:darkblue;
    color: white;
    padding: 2px;
    border-radius: 3px;
}

.my-container {
    /* position: fixed; */
    background-color: #f2e9e4;
    border: 2px solid var(--black);
    border-radius: 10px;
    height: 800px;
    float: right;
    position:fixed;
    margin-right:auto;
    margin-top: auto;
    max-width:32%;
    margin-left:auto;
}  


.top-row{ 
    margin-top: 150px;
    text-align: center;
}

.row{
    display: flex;
    flex-flow: wrap;
}
.dropdown-item {
    transition: all 0.1s;
}

.dropdown-item:hover {
    transform: scale(1.03);
}

.dropdown-menu {
    text-align: center;
}

.bi-caret-left-square:hover{
    transform: scale(1.10);
    color:red;
    size: auto;
}
.bi-caret-left-square {
    transition: all 0.3s;
   
}

.bi-caret-right-square:hover{
    transform: scale(1.10);
    color:green;
    size: auto;
}

.bi-caret-right-square {
    transition: all 0.3s;
}
.item {
    border-radius: 8px;
}

.buttons{
    /* display: flex;
    flex-direction: row; */
    float: right;
    gap: 5px;
    margin-right:20px;  
    text-align: center;    
}
.buttons:hover{
    transform: scale(1.10);     
} 
.numItems{
    font-size: 18px;
}

.bi-dash-lg{
    color:red;
    size: auto;

}

.bi-plus-lg{
    color: green;
}

.modal-lg {
    max-width: 80%;
}
.text-center{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.HomeBtn{
    background-color:#005f73;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}
.cart-heading{
    margin-top: 115px;
};

.cart-item{
    margin-top:400px;
}

.bi-x-square{
    color: red;
    font-weight: bold;
    float: right;
    position:relative;
    margin-left: 10px;
}

.cart-basket{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
 }

 .cart-item{
   border: 2px solid  #005f73;
   border-radius: 3px;
   display: flex;
   
 }

 .title-price-x{
    width: 200px;
    /* display: flex; */
    align-items:flex-end;
       /* border: 2px solid red; */
       margin-left: 8px;
 }
 .searchName{
    font-size: 15px;
    font-weight: bold;
    display:flex'
 }
 .cart-buttons{
    display: flex;
    flex-direction: row;
    float: left;
    gap:4px;
    margin-left:8px;  
    text-align: center;  
    margin-bottom: 4px; 
    /* border: 2px solid red;  */
    margin-top: 50px;;
    font-size: 15px;

}
.searchPrice{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}
